
<!DOCTYPE html>
<html>
<head>                       
	<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
	<script src="/galleria/galleria-1.5.7.min.js"></script>
	<script type='text/javascript' src='/javascripts/page.js'></script>
	<link rel="stylesheet" href="/stylesheets/page.css">
</head>
<body onload="timer = setTimeout('auto_reload()',3600000);">
	<div class="galleria">
		{{#each imgs}}
		<img src="{{this}}">
		{{/each}}
	</div>
	<div class="widget-overlay">
		<div id="crypto-wuidget">
			<script type="text/javascript" src="//100widgets.com/js_data.php?id=286"></script>
		</div>
		<div id="map-widget">
			<script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCpWs12utZbW9cT7RkaXMoIYyyumSVQkkA'></script><div style='overflow:hidden;height:400px;width:400px;'><div id='gmap_canvas' style='height:400px;width:400px;'></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div> <a href='https://freehitcounters.org/'>Hit Counter HTML Code</a> <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=b0eb63b0a835a14c8e03fa1b80cf98163502f4c9'></script><script type='text/javascript'>function init_map(){var myOptions = {zoom:10,center:new google.maps.LatLng(34.9104,-82.12299999999999),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(34.9104,-82.12299999999999)});infowindow = new google.maps.InfoWindow({content:'<strong>Charlotte Traffic</strong><br>6901 Rollingridge Drive<br>28211 Charlotte<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
		</div>
	</div>
</body>
<script>
var timer = null;
function auto_reload()
{
	window.location = 'http://localhost:3000';
}
</script>
</html>
