
<!DOCTYPE html>
<html>
<head>                       
	<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
	<script src="/galleria/galleria-1.5.7.min.js"></script>
	<script type='text/javascript' src='/javascripts/page.js'></script>
	<script type='text/javascript' src='/javascripts/calendar.js'></script>
	<script type='text/javascript' src='/javascripts/clock.js'></script>
	<link rel="stylesheet" href="/stylesheets/page.css">
	<link rel="stylesheet" href="/stylesheets/calendar.css">
</head>
<body onload="timer = setTimeout('auto_reload()',3600000);">
	<div class="galleria">
		{{#each imgs}}
		<img src="{{this}}">
		{{/each}}
	</div>
	<style>
	<!-- temporary -->
		div.widget-overlay {min-height:100%; min-width:100%;position:relative; z-index: 10001;}
		
	<!-- temporary-->
	</style>
	<div class="widget-overlay">
		<div id="clock-widget">
			<span id="Charlotte"></span>
		</div>
		<div id="calendar-widget">
			<div id="calendar"></div>
			<pre id="debug"></pre>
			<div id="message"></div>
		</div>
	</div>
</body>
<script>
var timer = null;
function auto_reload()
{
	window.location = 'http://localhost:3000';
}
</script>
<script>
time_is_widget.init({
	Charlotte:{
		template:"TIME<br>DATE<br>SUN", 
		date_format:"dayname, monthname dnum, year", 
		sun_format:"Sunrise: srhour:srminute Sunset: sshour:ssminute", 
		coords:"35.2270900,-80.8431300"
	};
});
</script>
<script>
var calendar = new Calendar({
	target: document.querySelector("#calendar"),
	data: {
		escape: false,
		view: 'calendar',
		year: 2019,
		month: 7
	};
})

calendar.set({message: 'loading...'})

fetch("entries.json").then(r => r.json()).then(data => {
	var entries = calendar.get('entries');
	entries = entries.concat(data.entries);
	calendar.set({entries: entries, message: ''});
	})

function debug() {
	document.querySelector('#debug').textContent = JSON.stringify(calendar.get(), null, 4);
};
</script>
</html>
